.s-header {
  width: 100%;
  height: 96px;
  background-color: transparent;
  position: absolute;
  top: 150px;
  z-index: 500;
}

.header-logo {
  position: absolute;
  left: 100px;
}

.site-logo img {
  width: 100px;
}

.hidden {
  display: none;
}

.header-nav {
  background: #0C0C0C;
  padding: 30px;
  width: 280px;
  position: fixed;
  font-family: montserrat-semibold, sans-serif;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 700;
  transform: translateX(100%);
  transition: all 0.5s ease;
  visibility: hidden;
}
.header-nav h3 {
  font-family: montserrat-semibold, sans-serif;
  font-size: 15px;
  color: #39b54a;
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 3px;
}
.header-nav .header-nav__content {
  position: relative;
  left: 50px;
  opacity: 0;
}
.header-nav .header-nav__content a {
  color: #fff;
}
.header-nav .header-nav__content .header-nav__list {
  padding: 0;
  list-style-type: none;
}
.header-nav .header-nav__content .header-nav__list li {
  line-height: 40px;
}
.header-nav .header-nav__close {
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 25px;
  right: 30px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  z-index: 800;
}
.header-nav .header-nav__close span::before {
  transform: rotate(45deg);
}
.header-nav .header-nav__close span::after {
  transform: rotate(-45deg);
}
.header-nav .header-nav__close span::before,
.header-nav .header-nav__close span::after {
  content: "";
  display: block;
  height: 2px;
  width: 12px;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 9px;
  margin-top: -1px;
}

.header-nav__list a,
.header-nav__list a:visited,
.header-nav__list a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.header-menu-toggle {
  font-family: montserrat-semibold, sans-serif;
  text-transform: uppercase;
  color: #fff;
  position: fixed;
  right: 100px;
  width: 42px;
  height: 42px;
}
.header-menu-toggle .header-menu-text {
  position: absolute;
  right: 47px;
}
.header-menu-toggle .header-menu-icon {
  background-color: #fff;
  width: 22px;
  height: 2px;
  position: absolute;
  top: 6px;
}
.header-menu-toggle .header-menu-icon::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: inherit;
  position: absolute;
  top: 7px;
}

.header-menu-toggle:hover {
  text-decoration: none;
}

.menu-is-open .header-nav {
  visibility: visible;
  transform: translateX(0);
}
.menu-is-open .header-nav .header-nav__content {
  transition: all 0.5s ease;
  opacity: 1;
  transition-delay: 0.3s;
  left: 0px;
}

.s-home {
  padding-top: 90px;
  padding-bottom: 90px;
  min-height: 786px;
}
.s-home .home-content h1,
.s-home .home-content p {
  font-family: montserrat-semibold, sans-serif;
  color: #FFFFFF;
}
.s-home .home-content .home-content__main {
  padding-top: 300px;
  padding-bottom: 250px;
}

.s-project {
  padding-top: 90px;
  padding-bottom: 700px;
  background-color: #39b54a;
  color: #010507;
}

/*# sourceMappingURL=main.css.map */
