$font-stack:  montserrat-semibold, sans-serif

.s-home
    padding-top: 90px
    padding-bottom: 90px
    min-height: 786px

    .home-content

        h1,
        p
            font-family: $font-stack
            color: #FFFFFF
        
        .home-content__main
            padding-top: 300px
            padding-bottom: 250px
