$font-stack:  montserrat-semibold, sans-serif

.header-logo
    position: absolute
    top: 60px

.site-logo img
    width: 200px

.hidden
    display: none

.header-nav
    background: #0C0C0C
    padding: 30px

    h3 
        font-family: $font-stack
        font-size: 15px
        color: #39b54a
        text-transform: uppercase
        margin-bottom: 30px
        letter-spacing: 3px

    .header-nav__content 
        position: relative
        left: 3px

        a
           color: #fff
        
        .header-nav__list
            padding: 0
            list-style-type: none
            
            li
                line-height: 40px
    .header-nav__close
        display: block
        height: 30px
        width: 30px
        border-radius: 3px
        background-color: rgba(0, 0, 0, 0.3)
        position: absolute
        top: 25px
        right: 30px
        font: 0/0 a
        text-shadow: none
        color: transparent
        z-index: 800

    .header-nav__close span::before
        transform: rotate(45deg)

    .header-nav__close span::after
        transform: rotate(-45deg)

    .header-nav__close span::before,
    .header-nav__close span::after
        content: ""
        display: block
        height: 2px
        width: 12px
        background-color: #FFFFFF
        position: absolute
        top: 50%
        left: 9px
        margin-top: -1px

.header-nav__list a,
.header-nav__list a:visited,
.header-nav__list a:hover
    color: #FFFFFF
    text-decoration: none

.header-menu-toggle
    font-family: $font-stack

    text-transform: uppercase
    height: 42px
    width: 42px
    // color: #fff

    .header-menu-text
        position: absolute
        top: 105px
        right: 50px

    .header-menu-icon
        background-color: #333
        width: 22px
        height: 2px
        position: absolute
        right: 16px
        top: 111px
    .header-menu-icon::before
        content: ''
        width: 100%
        height: 100%
        background-color: inherit
        position: absolute
        top: 7px
.header-menu-toggle:hover
    text-decoration: none