$font-stack:  montserrat-semibold, sans-serif
    
html,
body
    height: 100%

a
    font-family: $font-stack
    font-size: 13px
a,
a span,
a:visited
    color: #FFFFFF

// a
//     &:hover
//         text-decoration: none

@import url(../css/fonts.css)
@import header
@import home
@import project
